@import url(//fonts.googleapis.com/css?family=Vibur);
html,body{
  height:100%
}
/**************************
COLORS:
dark grey:  #222831;
light grey: #393e46;
blue:       #00adb5;
brightBlue: #00fff5;

pics for articles are: 640x427
****************************/

/**************************
Home page
****************************/

body, html {
    height: 100%;
    font-family: 'Roboto Mono', monospace;
    background-color: #393e46;
  }

.home-background-cover {
    background-image: url(../img/space.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome {
    text-shadow: 0 0 3px #17181C;
    text-shadow: 5px 5px 5px #17181C;
    color: #393e46;
}

.logo {
    font: 400 10vh "Vibur";
    color: #00fff5;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #00adb5, 0 0 0.5em #00adb5, 0 0 0.1em #00adb5, 0 10px 3px #000;
  }

.myimg {    
    overflow: hidden;
    transition: transform .5s ease;
}

.myimg:hover {
    transform: scale(1.5);
}

.profile h1,
.profile h2 {
    text-shadow: 5px 5px 5px #17181C;
    color:  #00adb5;
}

.profile {
    background: rgba(34,40,49,0.5);
}

/* SOCIAL LINKS ICONS */
.social-list {
	padding-left: 0;
	padding-top: 0.5rem;
}

.social-list li {
	list-style: none;
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-right: 6px;
	margin-top: 10px;
	color: #00adb5;
}
.social-icon i {
    font-size: 30px;
    color: #00adb5;
}
.social-icon i:hover {
	color: #00fff5;
}

/**************************
Articles
****************************/

.articles h1, 
.articles h2 ,
.articles p {
    color: #00adb5;

}

.article-name {
    display: flex;

}

.no-underline {
    padding-top: 2rem;
}

.icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-box i {
    font-size: 1.3rem;
}